.uploader-cfg {
    --ctx-name: "uploader";
  
    /* DO NOT FORGET TO USE YOUR OWN PUBLIC KEY */
    --cfg-pubkey: "demopublickey";
}


.space {
    height: 100vh;
}

.space > .row {
    height: 100%;
}


.an {
    transform: translateY(150%);
}

.empty {
    padding: 1rem;
    transform: translateY(100%);
}


ion-icon {
    color: rgb(0, 123, 255);
}

.details {
    margin: 0rem;
    transform: translateY(80%);
}