<!-- main container -->

<div class="container-fluid space">
    <div class="row p-5">
        <div class="col-md-6 p-5">
            <div class="container p-5">
                <h1 class="text-primary"><strong>Welcome to <span style >Brain Tumor</span> Analysis App</strong></h1>
                <p class="text-secondary">
                    Select your document
                </p>
                <!-- uploadcare component -->
                <lr-file-uploader-regular
                        class="uploader-cfg"
                        css-src="https://unpkg.com/@uploadcare/blocks@0.24.1/web/file-uploader-regular.min.css"
                        ctx-name="my-uploader">
                        <lr-data-output
                        (lr-data-output)="handleUploaderEvent($event)"
                        use-event
                        hidden
                        class="uploader-cfg"
                        ctx-name="my-uploader">
                        </lr-data-output>
                </lr-file-uploader-regular>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4" *ngFor="let file of files">
                        <img src="{{ file.cdnUrl }}" width="100%" alt="" srcset="" (click)="selectImageToScanne(file)">
                    </div>                                    
                </div>
            </div>
        </div>
        <div class="col-md-6 pl-4 pr-4">
            <!-- Analysing card //-->
            <div class="card bg-light mb-3" style="height: 100%;" *ngIf="!prediction">
                <div class="card-body" align="center" *ngIf="!status.loading">
                    <!-- Image Selected -->
                    <div class="empty" *ngIf="!selectedFile">
                        <p class="text-secondary m-5">
                            <ion-icon name="close-circle-outline" size="large"></ion-icon><br>
                            No image selected
                        </p>
                    </div>
                    <img src="{{selectedFile.cdnUrl}}" *ngIf="selectedFile" width="{{selectedFile.imageInfo.width}}" height="{{selectedFile.imageInfo.height}}" alt="" srcset="">
                </div>
                <div class="card-body" *ngIf="status.loading" align="center"> 
                  <!-- Loading part -->  
                    <div class="an">
                        <div class="spinner-border text-primary" role="status" style="width: 5rem; height: 5rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <p class="text-secondary mt-3">Analysing ...</p>
                    </div>
                    <!--// Loading part //--> 
                </div>
                <div class="card-footer" style="background-color: transparent;">
                    <!-- Analysing Button -->
                    <button class="btn btn-primary btn-block" (click)="lunchAnalysis()" [disabled]="!selectedFile">Analyse</button>
                </div>
            </div>
            <!--// Analysing card //-->

            <!-- Result card -->
            <div class="card" style="height: 100%; border: none;" *ngIf="prediction">
                <div class="card-body">

                    <div class="card" style="border-radius: 5px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <span class="text-secondary">Result : </span>
                                    <h2 class="text-success" *ngIf="prediction.message == 'No Brain Tumor'">No presence of cancer</h2>
                                    <h2 class="text-danger" *ngIf="prediction.message == 'Yes Brain Tumor'">Presence of cancer</h2>

                                </div>
                                <div class="col-md-3" align="center">
                                    <button class="btn btn-sm btn-dark details" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" (click)="reset()">
                                        <ion-icon class="text-light" name="reload-circle-outline"></ion-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--// Analysing card //-->

            
        </div>
    </div>
</div>